@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background:  url(../imagens/fundo-madeira.jpg) no-repeat
    top center;
    background-size: cover;
    background-attachment: fixed
}

main{
    height: 100vh;
    position: relative;
    
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 23px;
    width: 267px;
    height: 471px;

}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais > a > img{
    width: 50px;
    border-radius: 100%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.582);
    box-sizing: border-box;

}

section#redes-sociais img:hover{
    border: 2px solid hsl(0, 0%, 100%);
    transition: 1s;
    transform: translate(-5px,-5px);
    box-shadow: 5px 5px 10px black;
}